body {
  margin: 0;
  padding: 0;
  background-color: #181818;
  color: white
}

h1 {
  text-align: center;
  font-size: 50px;
}

.main-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

#app {
  align-self: flex-start;
}

#play {
  width: 50px;
}